//
// TODO: Clean this up a little?
//

@mixin notSQ_button {
	border: 1px solid $C_border;
	box-shadow: none;
	background: white;
	color: $C_textPrimary !important;
	font-weight: $W_medium;
	margin-bottom: 0;
	text-align: center;
	&:active {
		transform: translate(0px,0px);
		box-shadow: 0;
	}
	&:hover {
		background: transparentize($C_textPrimary, .8);
	}
}

@mixin notSQ_button--primary {
	background: $C_accent;
	box-shadow: none;
	color: $C_textPrimaryInverted !important;
	font-weight: $W_medium;
	margin-bottom: 0;

	&:hover {
		background: lighten($C_accent, 8%) !important;
		color: $C_textSecondaryInverted;
	}

	.inverted & {
		@include standardBorder(none);
	}
	&.button--contrast {
		@include buttonColor($C_contentBG);
		&:hover,
		&:active,
		&:focus {
			background: $C_borderDarkInverted;
		}
	}
}

// @mixin notSQ_button--contrast {
// 	@include color-all( $C_textPrimaryInverted );
// 	background: $C_textHint;
// 	border-color: $C_borderInverted;

// 	&:hover,
// 	&:active,
// 	&:focus {
// 		border-color: $C_borderDarkInverted;
// 	}
// }

@mixin notSQ_button--small {
	font-size: $font-size-small !important;
	min-height: $space-2;
	padding: 0 $space-half;
}

@mixin notSQ_button--fullWidth {
	box-sizing: border-box;
	display: block;
	width: 100%;
}
