//
// General
//
#account-topics-unsubscribed {
	background: $C_collectionBG;
	
	&:after {
		border-bottom-color: $C_collectionBG;
	}
}

.D_fbconnect_login_button {
	background-color: $C_facebook;
	background-position: $space-quarter center;
	border-radius: $defaultRadius;
	font-size: $font-size-small;
	line-height: initial;
	margin-bottom: initial;
	padding: $space-half;
}

.D_fbconnect_button_text {
	background: transparent;
	border: none;
	font-size: $font-size-small;
	line-height: initial;
}

a[href="https://secure.dev.meetup.com/account/remove/"] {
	color: $C_attention;
}

//
// Email Updates
//
#member-settings-list, #all-email-setting {

	.chunkList-chunk {
		padding: $space-half 0 0 0;

		@include atMediaUp(small) {
			padding: $space-half 0 0 $space-half;
		}
	}

	.chunkList-chunk--padded {
		padding-bottom: $space-half;
	}

	p.small {
		font-weight: $W_normal;
	}

	label {

		.label {
			font-size: $font-size;

			+ .small {
				font-weight: $W_normal;
			}
		}
	}

}

#all-email-setting {

	.chunkList-chunk {
		padding: $space-half 0;
	}

}

#chapters-list {
	.paddingLeft {
		padding-left: initial;
	}

	.paddingRight {
		padding-right: initial;
	}

	@include atMediaUp(small) {
		.paddingLeft {
			padding-left: $space;
		}

		.paddingRight {
			padding-right: $space;
		}
	}

	.caps {
		align-self: center;
		color: $C_textSecondary;
		text-transform: initial;
		font-size: $font-size-small;
	}
}

//
// Privacy
//
form[name="profile"] {

	.chunkList-chunk {
		padding: $space-half 0 0 $space-half;
	}

	.chunkList-chunk--padded {
		padding-bottom: $space-half;
	}

	p.small {
		font-weight: $W_normal;
	}

	label {

		&:only-child {
			font-size: $font-size;
		}

		.label {
			font-size: $font-size;

			+ .small {
				font-weight: $W_normal;
			}
		}
	}
}

//
// Update CC form
//
#updateCardContainer h1 {
	font-size: $font-size-display3;
}