$font : Graphik, helvetica, arial, sans-serif;

// Sizes
$font-size-small    : 13px;
$font-size          : 16px;
$font-size-navbar   : 20px;
$font-size-display3 : 28px;
$font-size-display2 : 34px;
$font-size-display1 : 42px;

// Weights
$W_normal : 400;
$W_bold   : 600;
$W_super  : 800;

// Colors
$C_accentSecondary: #180269;
$C_link: #006DBB;