//
// Wide page layout
//
/*
$W_metaBox: 240px;

html>body #C_pageBody {
	width: auto;
}

#C_context, #chapter-navigation {
	margin: 0 auto;
	max-width: $bounds-wide;
	z-index: 0;
}

// #eventdets .doc-content {
// 	padding-top: 24px;
// }

.wideContent #C_announceBody,
.wideContent #C_contextHeadBody,
.wideContent #C_headerBody,
.wideContent #C_pageBody,
html>body #C_announceBody,
html>body #C_contextHeadBody,
html>body #C_headerBody,
html>body #C_pageBody,
html>body .wideContent #C_announceBody,
html>body .wideContent #C_contextHeadBody,
html>body .wideContent #C_headerBody,
html>body .wideContent #C_pageBody,
#chapterHeader {
	width: $bounds-wide;
}

#chapter-banner h1 a {
	// background-size: cover;
	// height: 172px;
	background-size: auto 100%;
}

#C_nav {
	width: $W_metaBox;
}

.v4-gh-main-column {
	width: 644px;
}

#C_document {
	margin: 0 0 0 $W_metaBox;
}

.event-content {
	width: 480px;
	padding-right: $space;
	box-sizing: border-box;
}

.event-item .event-desc {
	margin: $space-half 0 0;
}

.event-item .event-where, .event-item .event-where-incomplete, .event-item .event-desc, .event-item .event-hosts, .event-item .event-comments {
	width: 100%;
}

#ajax-container .no-member {
	background-color: $C_collectionBG;
	border: initial;
	height: $media-s;
	margin-top: initial;
	width: $media-s;
}

.event-rsvpPhotos {
	li{
		margin-right: 4px;
	}
	.more a {
		background: $C_contentBG;
		border: initial;
		box-sizing: border-box;
		line-height: $media-s;
		width: $media-s;
	}
	.thumb30 {
		width: $media-s;
		height: $media-s;
		img {
			min-height: $media-s;
			max-width: $media-s;
		}
	} 
}
*/
// END Wide page layout


//
// Chapter header
//
#chapter-navigation {
	padding: $space-half $space;
}

//
// Left sidebar (metabox and friends)
//
#C_metabox {

	.adr h3, .meta-gphoto + .doc-content h3, h3 {
		font-size: $font-size;
		padding-bottom: initial;
		font-weight: $W_normal;
	}

	.adr .small {
		color: $C_textSecondary;
	}

	.dividedList {
		li {
			padding-top: $space-half;

			&:first-child {
				padding-top: 0;
			}
		}

		.unit {
			padding-bottom: initial;
		}

		.line a {
			@extend %notSQ_link--hover;
		}
	} 
}

.meta-gphoto {
	margin-top: 0;
	padding-top: $space-half;
}

.J_anchoredBubbleWrap {
	border: 1px solid $C_border;
	box-shadow: 0 0 2px 0 $C_border, 2px 2px 4px 0 $C_border;

	.close {
    border: initial;
    background: initial;
    font-size: $media-xs;
	}

	.closethick {
		color: $C_textSecondary;
	}
}

.metaButton {
	@include notSQ_button;
}

#C_metabox .dividedList li {
	border-top: initial;
}

.meta-topics-block {
	margin-bottom: 0;
}

#C_nav .dividedList li:first-child {
	border-top: initial;
}

.orgs_rebrandUpdates {
	.thumb30 {
		height: $media-xs;
		width: $media-xs;

		img {
			height: $media-xs;
			width: $media-xs;
		}
	}
}

#meetup_serendipity h4:first-child,
.sponsorModule-head {
	border-bottom: 1px solid $C_border;
	display: block;
}

.sponsorModule-head {
	@extend %notSQ_link--hover;
}

.D_sponsorImage {
	background: transparent;

	& ~ h5,
	& ~ p {
		text-align: center;
	}

	& ~ p {
		font-size: $font-size-small;
	}
}

#meetup_serendipity {
	ul {
		text-align: center;
	}

	p,
	h5 {
		line-height: $line-height !important;
	}

	h5 {
		font-size: $font-size;
		margin-bottom: initial;
	}

	.unit {
		float: none;
		width: 100%;
	}
}

//
// main content area
//

// .v4-gh-main-column {
// 	box-sizing: border-box;
// 	padding: $space;

// 	.docSection {
// 		padding: 0;
// 	}
// }

#C_document {
	padding-left: $space;
}

// #welcome-message {
// 	@extend %text--big;
// }

#lma {
	background-color: $C_contentBG;
	margin: initial;
	padding: 0 $space $space $space;
	.nav-tabs {
		background-color: $C_contentBG;
		.tabcount {
			padding-left: $space-quarter;
		}
	}
}

// Suggest a MUG button
#lma-suggest {
	@extend %notSQ_link--hover;
	background-color: transparent;
	background-position: 0px 14px;
	text-transform: initial;
	border-top: 1px solid $C_border;
	border-bottom: 1px solid $C_border;
	padding-top: $space;
	padding-bottom: $space;
	margin: $space;
	padding-left: 24px;

	&:hover {
		background-color: transparent;
	}
}

.plus_bk {
  background-position: 10px 6px;
}

#events-nav a {
	font-size: $font-size;
}

.v4-gh-main-column .docSection {
	padding-bottom: 0;
}

//
// Event list
//
#ajax-container {
	border-top: initial;
}

.event-item {
	border-bottom: 1px solid $C_border;
	padding: $space;
	margin-bottom: initial;

	h3 {
		@extend %text--big;
		padding-bottom: 0;
		border-bottom: initial;

		a {
			color: $C_textPrimary;
		}
	}

	&:hover {
		h3 a {
			color: $C_link !important;
		}
	}
}

.event-list {
	padding: 0;
}

.event-content {
	border-right: initial;
	margin-bottom: initial;
}

.event-desc a {
	// !important is used to beat out inline styles
	font-size: $font-size-small !important;
	text-transform: initial !important;
}

.event-item dl.event-where dd {
	@extend %text--caption;
}

.event-meta {
	.dateTime {
		margin-bottom: $space-half;
	}
	
	.time {
		@extend %text--small;
	}

	.rsvp-callout-outer {
    background-color: initial;
		padding: 0;
    margin-bottom: $space;

		.rsvp-callout-rsvp,
		.rsvp-callout-wl {
			@include notSQ_button;
			padding-left: initial;
			padding-right: initial;
		}

		.rsvp-callout-closed {
	    background: initial;
	    color: $C_textSecondary;
	    font-style: initial;
	    padding: 0;
	    text-align: initial;
		}
	}

	.rsvp-meta {
		@extend %text--caption;
	}

	ul {
		margin-bottom: $space-half;
	}

	.event-count {
		padding-top: initial;

		em {
			font-weight: $W_medium;
			margin-right: initial;
		}

	}
}

.rsvp-meta-subtle-link a:link, .rsvp-meta-subtle-link a:visited, .rsvp-meta-subtle-link a:hover {
	@extend %text--secondary;
}

.rsvp-callout-icon {
	display: none;
}

.event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpyes, .event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpwaitlist, .event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpno {
	-webkit-box-shadow: initial;
	box-shadow: initial;
	color: initial !important;
	font-size: $font-size-small;
	font-weight: $W_medium;
	padding: 0 $space-half;
	text-transform: initial;
	text-align: center;
}

.event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpyes {
	background: transparentize($C_success, .93);
	border: 1px solid;
	color: $C_success !important;
}

.event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpno {
	background: $C_collectionBG;
	border: 1px solid $C_border;
	color: $C_textPrimary;
}

.event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpwaitlist {
	background: $C_contentBGInverted !important;
	color: $C_textPrimaryInverted !important;
}

.event-autoscheduleInfo {
	background: $C_collectionBG;
	margin: 0 -#{$space} -#{$space} -#{$space};
	padding: $space;

	.D_button {
		margin-bottom: initial;
		margin-top: initial;

		a{
			background: $C_collectionBG;
			font-size: $font-size-small;
			padding: 0 $space 0 0;
			text-transform: initial;
		}
	}
}

//
// Event list past
//
#recentMeetups h2 {
	@extend %text--big;
	border-bottom: 1px solid $C_border;
	padding: $space-half $space;
}

.event-attended {
	@extend %text--caption;
}

.past .event-rsvpPhotos {
	margin-top: $space-half;
	margin-bottom: $space-half;
}

.event-rate {
	text-align: right;
}

.event-rating {
	margin-bottom: $space;
}

.event-list-more {
	padding: $space;
}

.past {

	.event-title {
		color: $C_textPrimary;
	}

	&:hover .event-title {
		color: $C_link;
	}

	p:last-child a {
		// !important is used to beat out inline styles
		font-size: $font-size !important;
		text-transform: initial !important;
	}
}

//
// What's New column
//
.ghome-feed-box h3 {
	@extend %text--big;
}

.v4-gh-last-column {
	box-sizing: border-box;
	padding-left: $space;
}

.v4-photo-block-anc img {
	width: 100%;
}
