//
// Recommended Meetups
//
%_columnItemBase {
	@include flex-basis(auto);
	box-sizing: border-box;
	height: initial;
}

.card--group-content {
	@include flexParent('column');
	@include flex-wrap('nowrap');
	height: 100%;
	text-align: left;

	h4 {
		@extend %_columnItemBase;
		@extend %text--heavy;
		@include flex-grow(1);

		@include browser-lessThanIE(10) {
			display: table-row;
			height: auto;
		}
	}

	p {
		@extend %_columnItemBase;
		@include flex-grow(0);

		@include browser-lessThanIE(10) {
			height: 1%;
		}
	}
}
