// Remove borders from modules
.actionMenu-actions, .doc-box, .docBox {
	border: 1px solid $C_border !important;
	border-bottom: 1px solid $C_textHint !important;
}


//
// Wide page layout
//
$W_metaBox: 240px;

html>body #C_pageBody {
	width: auto;
	// padding: 0;
}

#C_context, #chapter-navigation {
	margin: 0 auto;
	max-width: $bounds-wide;
	z-index: 0;
}

// #eventdets .doc-content {
// 	padding-top: 24px;
// }

.wideContent #C_announceBody,
.wideContent #C_contextHeadBody,
.wideContent #C_headerBody,
.wideContent #C_pageBody,
html>body #C_announceBody,
html>body #C_contextHeadBody,
html>body #C_headerBody,
html>body #C_pageBody,
html>body .wideContent #C_announceBody,
html>body .wideContent #C_contextHeadBody,
html>body .wideContent #C_headerBody,
html>body .wideContent #C_pageBody,
#chapterHeader {
	width: $bounds-wide;
}

#chapter-banner h1 a {
	// background-size: cover;
	// height: 172px;
	background-size: auto 100%;
}

#C_nav {
	width: $W_metaBox;
}

.v4-gh-main-column {
	width: 644px;
}

#C_document {
	margin: 0 0 0 $W_metaBox;
}

.event-content {
	width: 480px;
	padding-right: $space;
	box-sizing: border-box;
}

.event-item .event-desc {
	margin: $space-half 0 0;
}

.event-item .event-where, .event-item .event-where-incomplete, .event-item .event-desc, .event-item .event-hosts, .event-item .event-comments {
	width: 100%;
}

#ajax-container .no-member {
	background-color: $C_collectionBG;
	border: initial;
	height: $media-s;
	margin-top: initial;
	width: $media-s;
}

.event-rsvpPhotos {
	li{
		margin-right: 4px;
	}
	.more a {
		background: $C_contentBG;
		border: initial;
		box-sizing: border-box;
		line-height: $media-s;
		width: $media-s;
	}
	.thumb30 {
		width: $media-s;
		height: $media-s;
		img {
			min-height: $media-s;
			max-width: $media-s;
		}
	} 
}
// END Wide page layout


//
// Chapter header
//
#chapter-navigation {
	padding: $space-half $space;
}

//
// Left sidebar (metabox and friends)
//
#C_metabox {

	.adr h3, .meta-gphoto + .doc-content h3, h3 {
		font-size: $font-size;
		padding-bottom: initial;
		font-weight: $W_normal;
	}

	.adr .small {
		color: $C_textSecondary;
	}

	.dividedList {
		li {
			padding-top: $space-half;

			&:first-child {
				padding-top: 0;
			}
		}

		.unit {
			padding-bottom: initial;
		}

		.line a {
			@extend %notSQ_link--hover;
		}
	} 
}

.meta-gphoto {
	margin-top: 0;
	padding-top: $space-half;
}

.J_anchoredBubbleWrap {
	border: 1px solid $C_border;
	box-shadow: 0 0 2px 0 $C_border, 2px 2px 4px 0 $C_border;

	.close {
    border: initial;
    background: initial;
    font-size: $media-xs;
	}

	.closethick {
		color: $C_textSecondary;
	}
}

.metaButton {
	@include notSQ_button;
}

#C_metabox .dividedList li {
	border-top: initial;
}

.meta-topics-block {
	margin-bottom: 0;
}

#C_nav .dividedList li:first-child {
	border-top: initial;
}

.orgs_rebrandUpdates {
	.thumb30 {
		height: $media-xs;
		width: $media-xs;

		img {
			height: $media-xs;
			width: $media-xs;
		}
	}
}

#meetup_serendipity h4:first-child,
.sponsorModule-head {
	border-bottom: 1px solid $C_border;
	display: block;
}

.sponsorModule-head {
	@extend %notSQ_link--hover;
}

.D_sponsorImage {
	background: transparent;

	& ~ h5,
	& ~ p {
		text-align: center;
	}

	& ~ p {
		font-size: $font-size-small;
	}
}

#meetup_serendipity {
	ul {
		text-align: center;
	}

	p,
	h5 {
		line-height: $line-height !important;
	}

	h5 {
		font-size: $font-size;
		margin-bottom: initial;
	}

	.unit {
		float: none;
		width: 100%;
	}
}

//
// main content area
//

// .v4-gh-main-column {
// 	box-sizing: border-box;
// 	padding: $space;

// 	.docSection {
// 		padding: 0;
// 	}
// }

#C_document {
	padding-left: $space;
}

// #welcome-message {
// 	@extend %text--big;
// }

#lma {
	background-color: $C_contentBG;
	margin: initial;
	padding: 0 $space $space $space;
	.nav-tabs {
		background-color: $C_contentBG;
		.tabcount {
			padding-left: $space-quarter;
		}
	}
}

// Suggest a MUG button
#lma-suggest {
	@extend %notSQ_link--hover;
	background-color: transparent;
	background-position: 0px 14px;
	text-transform: initial;
	border-top: 1px solid $C_border;
	border-bottom: 1px solid $C_border;
	padding-top: $space;
	padding-bottom: $space;
	margin: $space;
	padding-left: 24px;

	&:hover {
		background-color: transparent;
	}
}

.plus_bk {
  background-position: 10px 6px;
}

#events-nav a {
	font-size: $font-size;
}

.v4-gh-main-column .docSection {
	padding-bottom: 0;
}

//
// Event list
//
#ajax-container {
	border-top: initial;
}

.event-item {
	border-bottom: 1px solid $C_border;
	padding: $space;
	margin-bottom: initial;

	h3 {
		@extend %text--big;
		padding-bottom: 0;
		border-bottom: initial;

		a {
			color: $C_textPrimary;
		}
	}

	&:hover {
		h3 a {
			color: $C_link !important;
		}
	}
}

.event-list {
	padding: 0;
}

.event-content {
	border-right: initial;
	margin-bottom: initial;
}

.event-desc a {
	// !important is used to beat out inline styles
	font-size: $font-size-small !important;
	text-transform: initial !important;
}

.event-item dl.event-where dd {
	@extend %text--caption;
}

.event-meta {
	.dateTime {
		margin-bottom: $space-half;
	}
	
	.time {
		@extend %text--small;
	}

	.rsvp-callout-outer {
    background-color: initial;
		padding: 0;
    margin-bottom: $space;

		.rsvp-callout-rsvp {
			@include notSQ_button;
			padding-left: initial;
			padding-right: initial;
		}

		.rsvp-callout-closed {
	    background: initial;
	    color: $C_textSecondary;
	    font-style: initial;
	    padding: 0;
	    text-align: initial;
		}
	}

	.rsvp-meta {
		@extend %text--caption;
	}

	ul {
		margin-bottom: $space-half;
	}

	.event-count {
		padding-top: initial;

		em {
			font-weight: $W_medium;
			margin-right: initial;
		}

	}
}

.rsvp-meta-subtle-link a:link, .rsvp-meta-subtle-link a:visited, .rsvp-meta-subtle-link a:hover {
	@extend %text--secondary;
}

.rsvp-callout-icon {
	display: none;
}

.event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpyes, .event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpwaitlist, .event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpno {
	-webkit-box-shadow: initial;
	box-shadow: initial;
	color: initial !important;
	font-size: $font-size-small;
	font-weight: $W_medium;
	padding: 0 $space-half;
	text-transform: initial;
	text-align: center;
}

.event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpyes {
	background: transparentize($C_success, .93);
	border: 1px solid;
	color: $C_success !important;
}

.event-meta .rsvp-callout-outer.rsvp-callout-haveRSVPd .rsvp-callout-rsvpno {
	background: $C_collectionBG;
	border: 1px solid $C_border;
	color: $C_textPrimary;
}

.event-autoscheduleInfo {
	background: $C_collectionBG;
	margin: 0 -#{$space} -#{$space} -#{$space};
	padding: $space;

	.D_button {
		margin-bottom: initial;
		margin-top: initial;

		a{
			background: $C_collectionBG;
			font-size: $font-size-small;
			padding: 0 $space 0 0;
			text-transform: initial;
		}
	}
}

//
// Event list past
//
#recentMeetups h2 {
	@extend %text--big;
	border-bottom: 1px solid $C_border;
	padding: $space-half $space;
}

.event-attended {
	@extend %text--caption;
}

.past .event-rsvpPhotos {
	margin-top: $space-half;
	margin-bottom: $space-half;
}

.event-rate {
	text-align: right;
}

.event-rating {
	margin-bottom: $space;
}

.event-list-more {
	padding: $space;
}

.past {

	.event-title {
		color: $C_textPrimary;
	}

	&:hover .event-title {
		color: $C_link;
	}

	p:last-child a {
		// !important is used to beat out inline styles
		font-size: $font-size !important;
		text-transform: initial !important;
	}
}

//
// event
//

/*
#C_document {
	margin: 0;
	padding-left: 0;
}

.doc-content.fixedWidthForIE {
	width: auto;
}

.D_actions_new {
	display: none;
}
*/

//
// What's New column
//

.ghome-feed-box h3 {
	@extend %text--big;
}

.v4-gh-last-column {
	box-sizing: border-box;
	padding-left: $space;
}

.v4-photo-block-anc img {
	width: 100%;
}

//
// Other pages
//

.chapterSubPage h1 {
	@extend %text--display2;
	flex-grow: 1;
	line-height: $line-height-largeText;
	margin-bottom: initial;
}

#C_document.chapterSubPage {
	.docSection, .doc-content {
		&:first-child {
			display: flex;
			flex-wrap: wrap;
			p {
				width: 100%;
			}
		}
		&:only-child {
			display: block;
		}
	}

	h1 {
		@include notSQ_valign--middle;
		flex-grow: 1;

		& + ul {
			@include notSQ_valign--middle;
			padding-top: initial;
			margin-bottom: initial;
		}
	}
}

// undo the above code on main MUG home
#urf-chapter-description, #join-or-connect-v2, #private-mug-urf, #eventdets {
	.docSection, .doc-content {
		display: block !important;
	}
}

.canDo {
	margin-right: $space;

	&:last-child {
		margin-right: initial;
	}
}

//
// Calendar
//
ul.D_actions li.canDo {
	font-size: $font-size-small;
}

.D_calendar tbody td.real .meetup {
	background: transparent;
	color: $C_link;
	font-size: $font-size-small;
	padding: 0;
}

.D_calendar .eventContent {
	padding: 0;
	line-height: $line-height;
}

.D_calendar tbody td.real .meetup a.url {
	color: $C_link !important;
}

.D_calendar tbody td.real.past .meetup a.url {
	color: $C_textPrimary !important;
}

.D_calendar tbody td.real .rsvpState {
	text-align: left;
}

.D_calendar tbody td.real .meetup a.rsvpLink {
	color: $C_textSecondary !important;
}

.D_calendar tbody td.today .day .dayActions {
	right: 0;
	top: 0;
}

.D_calendar .day div {
	display: inline-block;
}

.today .dayNum {
	background: $C_contentBGInverted;
	color: $C_textPrimaryInverted !important;
	padding: $space-quarter;
	line-height: $line-height;
}

.D_feedBox {
	background: initial;
	font-size: $font-size;
	margin: initial;
	padding: initial;

	.D_icon {
		display: none;
	}
}

/*
// Gotta figure out how to better scope this. Commenting out for now
.docBox .docSection:first-child,
#C_document .doc-box .doc-content:first-child {
	display: flex;
	h1 {
		@include notSQ_valign--middle;
		@extend %text--display3;
		flex-grow: 1;
		padding-bottom: initial;
	}
	
	h1 + ul {
		@include notSQ_valign--middle;
		margin-bottom: initial;
		margin-left: $space;

		li {
			display: block;
			margin-right: initial;
			margin-bottom: $space-quarter;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// undo the above code on main MUG home
// #urf-chapter-description, #join-or-connect-v2, #private-mug-urf {
// 	.docSection {
// 		display: block !important;
// 	}
// }
*/

// END Other pages

//
// Member list
//

.icon-messaging-messages-outline.disabled {
	background: $C_contentBG;
}

.memberStats {
	margin-bottom: $space;
}

//
// Sponsors
//
#sponsorHead {
	align-items: center;
	display: flex;
	margin-bottom: $space;
	padding-right: initial;

	h1 {
		padding-bottom: initial;
    flex-grow: 1;
	}	
}

#addSponsor {
	position: initial;
	right: initial;
	top: initial;
}

#sponsors-list {

	.D_sponsorRow {
		margin-bottom: $space;
		
		h3 {
			@extend %text--big;
			padding-bottom: initial;
			margin-bottom: initial;
		}

		.figureset-figure,
		.figureset-description {
			@include notSQ_valign--middle;
		}

		.figureset-figure {
			width: 120px;
			img {
				margin-bottom: initial;
				max-width: 100%;
			}
		}

		.figureset-description p {
			margin-bottom: 0;
			
			// lol, this is so fucked
			& + .margin-bottom {
				margin-bottom: initial;
				margin-top: 8px;
			}
		}
	}
}

//
// Photos
//
.doc-controls {
	background: $C_contentBG;
	padding: initial;

	h4 {
		font-weight: $W_normal;
	}

	.nav-buttons {
		margin-bottom: initial;
	}
}

.photoBox {
	.docSection:first-child {
		display: flex;
		h1 {
	
			flex-grow: 1;
			padding-bottom: initial;
		}
		h1 + ul {
			@include notSQ_valign--middle;
			margin-bottom: initial;
		}
	}
}

.nametag-photo {
	width: initial;
}

.D_groupList_photos {
	.unit {
		a {
			color: $C_textPrimary;
			font-weight: $W_medium;
		}

		p {
			margin-bottom: initial;
		}

		h4 {
			padding-bottom: initial;

			~ div,
			~ p {
				font-size: $font-size-small;
			}
		}
	}
}

//
// Photo details
//
#D_photoBox {
	h3 {
		font-size: $font-size;
		font-weight: $W_normal;
	}
	h1 {
		@extend %text--display3;
	}
}

#D_photoGallery_currentPhotoCounter {
	font-size: $font-size-small;
}

#D_photoGallery_actions {
	color: $C_textPrimary;
	font-size: initial;
	padding: 0;
	float: left;
	margin-top: initial;

	li {
		border-left: 1px solid $C_border;
	}

	a {
		color: initial;
		font-size: $font-size-small;
		text-transform: initial;
		
		&:hover {
			color: $C_link;
		}
	}
}

#D_photoGallery_actions_container {
	width: initial;
}

.D_shareThis {
	background: none;
	border: none;
	font-size: initial;
	margin: initial;
	text-transform: initial;

	br, img {
		display: none !important;
	}
	
	a {
		color: $C_textPrimary !important;
		display: inline-block !important;
		font-size: $font-size-small !important;
		font-weight: $W_normal;
		padding: 0;
	}
}

.D_shareThis:hover span, .D_shareThis:hover a {
	color: $C_link;
	text-decoration: underline;
}

#shareThis .drop_down {
	background-position: 107% -216px !important;
	padding: 0 $space 0 0;
}

.D_photoShare {
	top: 7px;
}

#D_photoGallery_photoCaptionWrapper {
	font-size: initial;
	font-style: initial;
	margin-bottom: $space;
}

#D_photoGallery_photoCaption {
	display: block;
}

#D_photoGallery_deleteCaptionLink, #D_photoGallery_editCaptionLink {
	color: $C_textSecondary;
	font-style: initial;
	font-size: $font-size-small;
	font-weight: $W_normal;
	margin-right: 4px;
	padding-left: initial;
}

#D_photoTasks .D_tagThisPhoto {
	background-color: initial;
	background-position: 0px -2px;
	border-radius: initial;
	-moz-border-radius: initial;
	-webkit-border-radius: initial;
	color: $C_link !important;
	font-size: initial;
	padding: 0px 0px 0px 23px;
	text-transform: initial;
	text-decoration: none;
}

#D_photoGallery_commentsFormWrapper {
	margin-top: $space;
	padding-bottom: initial;

	h3 {
		font-size: $font-size-small;
		font-weight: $W_medium;
		margin: initial;
	}

	textarea {
		border: 1px solid $C_border;
	}
}

#D_photoGallery_otherGalleries h2 {
	@extend %text--big;
	ul.D_actions {
		margin: initial;
	}
}

//
// Message boards
//
#D_forumDisplay .discussion .title h3 {
	@extend %text--big;
}
#D_forumDisplay .discussion .accessLevelDisplay {
	margin-bottom: $space-half;
}
#D_forumDisplay .discussion .accessLevelDisplay .everybody, #D_forumDisplay .discussion .accessLevelDisplay .groupOnly, #D_forumDisplay .discussion .accessLevelDisplay .orgOnly {
	background: initial;
	color: $C_attention;
	font-size: $font-size-small;
	font-weight: $W_normal;
	padding: initial;
}

//
// Email members
//
.D_box {
	border: 1px solid $C_border;
	padding: initial;

	h1 {
		@extend %text--display3;
	}

	h3 {
		@extend %text--big;
	}

}

.D_boxhead,
.D_boxsection {
	padding: $space;
}

.D_boxbody {
	margin: 0;
	padding: 0;
}

.D_boxsection {
	border-top: 1px solid $C_border;
}

.D_tip, 
.D_inform {
	@extend %text--caption;
	background: initial;
	padding: 0;
}

//
// Stats
//
.explainHighlight {
	background-color: initial;
	border-bottom: 1px solid $C_border;
	color: $C_textSecondary;
	margin: initial;
	padding: $space-half;
	p {
		background-image: initial;
		margin-bottom: initial;
		padding: 0 !important;
	}
}

.chapterSubPage .D_boxhead .D_actions .sprite_pixel {
	height: 0;
	width: 0;
}

.chapterSubPage .explainHighlight + .D_boxhead {
	display: flex;
	
	h1 {
		@include notSQ_valign--middle;
		flex-grow: 1;
	}
}

#chart_div {
	margin-top: $space;
}

//
// MUG settings
//
.D_name + p,
.D_name + ul {
	color: $C_textSecondary;
}

// Settings/Basic
.D_urlPreview span {
	font-weight: initial;
	font-size: initial;
	color: initial;
	line-height: initial;
}

// Settings/Members
input[type="checkbox"] + label {
	vertical-align: middle;
}

#D_profileQuestions {

	li {
		background: $C_contentBG;
		border: 1px solid $C_border;
		border-radius: $defaultRadius;
		padding: $space;
	}

	.number {
		font-size: $font-size;
	}

	.actions {
		left: initial;
		right: 0;
	
		a {
			color: $C_textPrimary;
			font-size: $font-size-small;
			font-weight: $W_normal;
		}
	}
} 

// Settings/Topics
.T_chunky-ui-thing {
	background: $C_contentBG;
	border: 1px solid $C_border;
	border-radius: $defaultRadius;
	padding: $space-half;

	.chunky-thing-head,
	.chunky-thing-body {
		font-size: $font-size;
		margin: initial;
		padding: initial;
	}
}

.D_group-topic .topic-stat {
	font-size: $font-size;
	padding: initial;
}

.topic-stat-groups {
	background: initial;
}

.suggested-topics {
	line-height: $line-height;
}

.topic-sugg {
	.topic-name {
		margin-bottom: initial;
		line-height: $line-height;
	}
	.add-topic {
		text-align: initial;
	}
}

.suggested-topic-cols {

	.D_colbody {
		margin: initial !important;
	}

	.divby3 {
		margin-bottom: $space;

		.D_col {
			width: 100%;
		}
	} 

	.topic-sugg {
		border-bottom: 1px solid $C_border;
		margin-top: $space-half;
		padding: initial;

		.topic-sugg-body {
			background: transparent !important;
			border-radius: initial;
			margin: 0 0 $space-half 0;
			padding: initial;
		}
	}
}

#addAnotherTopicBtn {
	float: initial;
	padding: initial;
	border: initial;
	font-size: initial;
	opacity: initial;
	-moz-opacity: initial;
	margin-top: initial;

	div {
    background: initial;
		color: $C_link;
    font-weight: initial;
    padding-left: initial;
    text-align: initial;
	}
}

.D_group-topic .topic-field input {
	border: initial;
	box-shadow: none;
	padding: initial;
	margin: initial;
	font-weight: initial;
	font-size: initial;
	line-height: initial;
	width: 100%;
}

#D_group-topics-verbs .topic-entry .topic-field, 
.D_group-topic .topic-field {
	border: initial;
	padding: initial;
	background-color: initial;
	margin: initial;
}

.topic-action-link {
	color: $C_link;
	text-decoration: none;
}

.D_features {
	padding: initial;

	li {
		background: initial !important;
		margin: initial;
		margin-bottom: $space-half;
		padding: initial !important;
	}
}

// Settings/Venues
#addvenue li.vinfo label {
	float: initial;
	line-height: $line-height;
	margin-right: initial;
}

form[name="editVenue"] .footElement {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}

//
// Settings/Member roles
//
.leadership-title {
	@extend %text--big;
}

#leadershipname {
	color: $C_textPrimary;

	&:hover {
		border-color: $C_link;
		color: $C_link;
	}
}

//
// Settings/Optional features
//
label[for="fee_currency"] {
	// would be better to just remove `inline` class
	display: block;
	select {
		display: block;
	}
}

//
// Settings/Money/Contributions
//
#contributions .ruleRed {
	display: none;
}

.faq {
	dt {
		padding: $space;
	}
	dd {
		padding: 0 0 $space $space;
		width: 100%;
	}
}

//
// MUP create
//
div.D_form .toggleGroup {
	overflow: visible;

	.elementGroupHeader {
		background-color: $C_collectionBG;
		border: initial;
		padding: $space-half $space;
		margin: 0 -#{$space} $space-half -#{$space};
		overflow: hidden;
		width: initial;

		h3 {
			@extend %text--big;
			padding-left: $space;
			color: initial;
		}
	}
} 

a.button.primary.add-venue {
	font-size: $font-size-small !important;
	margin-right: $space-half !important;
	padding: $space-quarter $space-half;
	min-height: $space-2;
}

#hostList td.input {
	width: 1%;
}

#autosched_choices {
	margin-bottom: $space;

	.D_radio {
		border: initial;
		margin-right: $space;
	}

	.D_radio a, .D_radio .D_radioInner {
		display: initial;
		border-right: initial;
		background: initial;
		font-size: initial;
		padding: initial;
		color: initial;
		margin: initial;
	}

	.D_radio a.selected, .D_radio .selected {
		font-weight: initial;
		color: initial;
		background: initial;

		label {
			font-weight: $W_medium;
		}
	}
}

.venue-list {
	.venue-toggler {
		background: initial;
		border-bottom: initial;
		display: block;
		list-style: none;
		margin: initial;
		margin-bottom: $space;
		padding: initial;

		.venue-toggle {
			background: initial;
			color: $C_textSecondary;
			border: initial;
			border-bottom: $_tabBorder solid transparent;
			cursor: pointer;
			display: inline-block;
			font-size: initial;
			font-variant: initial;
			line-height: initial;
			margin: 0 $space 0 0;
			padding: 0;
			text-align: initial;
			text-transform: initial;

			&.selected {
				color: $C_link;
				font-weight: $W_medium;
				border-bottom: $_tabBorder solid $C_link;
			}
		}
	}
}

#feeWrap, #refundPolicy {
	border-top: 1px solid $C_border;
	padding-top: $space;
}

.footElement.event-submit-button-wrapper {
	text-align: right;
	padding-top: initial !important;

	#event-draft {
		margin-right: $space !important;
	}

	.D_altAction {
		float: left;
		line-height: 2; // sad attempt at vertical alignment
	}
}

//
// Join flow
//
.doc-box.transparent-box {
	background-color: transparent;
	border: none !important;
	box-sizing: border-box;
}

.groupProfile h1 {
	@extend %text--display2;
}

// Topic picking on joining a group
.selection_array {

	.category .count {
		background-color: $C_link;
	}

	.topic.selected {
		background-color: $C_contentBGInverted;

		.selection {
			background-color: $C_link;
			border-color: $C_link;

			&:hover {
				background-color: transparentize($C_link, .13);
			}
		}
	}

	.category.open .category-name {
		background: $C_contentBGInverted;
		border: 1px solid $C_contentBGInverted;
		border-bottom-color: $C_contentBGInverted;
	}

	.category .topics .inner {
		background: $C_contentBGInverted;
	}

	.topic .selection {
		background: $C_borderInverted;

		&:hover {
			background-color: transparent;
		}
	}
}

// Topic picking after leaving a group
.topicpicker-dialog-header {
	@extend %text--big;
	margin-bottom: initial;
}

.topicpicker-dialog-contents .text {
	@extend %text--small;
	margin-bottom: $space;
	margin-top: initial;
}

.prepend-button {
	background: transparent;
	border: 1px solid $C_border;

	&:hover {
		background: $C_selection;
		border: 1px solid $C_border;
		text-shadow: initial;
	}

	.icon {
		background-position: -1px -123px;
	}

	&.hasSubscribed {
		background-color: $C_collectionBG;
		border: 1px solid $C_border;

		&:hover,
		&:link,
		&:visited{
			color: $C_textPrimary;
			font-weight: $W_medium;
		}

		&:hover {
			background: $C_selection;
			border: 1px solid $C_border;
			text-shadow: initial;

			.icon {
				background-position: -1px -38px;
			}
		}

		.prepend-button-label {
			color: $C_textPrimary;
			font-weight: $W_medium;
		}

		.icon {
			background-position: -1px -1px;
		}

	}
}

.prepend-button-addon {
	border-width: 0;
	left: initial;
	right: 0;
}

.prepend-button-label {
	font-size: $font-size-small;
	font-weight: $W_normal;
	line-height: $line-height-smallText;
	margin: 0 0 0 $space-quarter;
	padding: $space-quarter;
}

.prepend-button:link, .prepend-button:visited, .prepend-button:hover {
	color: $C_textPrimary;
}











